/*Segunda Seccion*/

.section-2 {
    display: flexbox;
    width: 30%;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
}

input, .form-container>button {
    display: flex;
    position: relative;
    width: 90%;
    height: 2.5rem;
    margin: 10px auto;
    border-radius: 5px;
    border: 2px solid var(--main-black);
    padding: 10px;
}   

input:hover{
    border: none;
    outline: 2px solid var(--main-yellow);
}

.button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 10px auto;
    width: 60%;
}


.button-submit{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    margin: 10px auto;
    border: none;
    background-color: var(--main-green);
    padding: 10px;
}

.button-clear{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    border: none;
    background-color: var(--main-red);
    padding: 10px;
}

    /*--Tablet--*/

@media (max-width: 768px) {
    .section-2{
        width: 100%;
    }
}